/packages
/Services
/ups/obj
/ups/bin
/UPS.Entities/obj
/UPS.Services/obj
/UPS.WPF/obj
/UPS.Entities/bin/Debug/netcoreapp3.1/*.dll
/UPS.Services/bin/Debug/netcoreapp3.1/*.dll
/UPS.WPF/bin/Debug/netcoreapp3.1/*.dll
/UPS.WPF/bin/Debug/netcoreapp3.1/*.exe
/UPS.Entities/bin/Debug/netcoreapp3.1/*.pdb
/UPS.Services/bin/Debug/netcoreapp3.1/*.pdb
/UPS.WPF/bin/Debug/netcoreapp3.1/*.pdb
/UPS.Entities/bin/Debug/netcoreapp3.1/UPS.Entities.deps.json
/UPS.Services/bin/Debug/netcoreapp3.1/UPS.Services.deps.json
/UPS.WPF/bin/Debug/netcoreapp3.1/UPS.WPF.deps.json
/UPS.WPF/bin/Debug/netcoreapp3.1/UPS.WPF.runtimeconfig.dev.json
/UPS.WPF/bin/Debug/netcoreapp3.1/UPS.WPF.runtimeconfig.json
/.vs
